.img img{
    transition: 1s ease;
}
    
    .img img:hover{
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        transition: 1s ease;
    }

.img p{
    font-size: large;
    margin-top: 10px;
    width: 40%;
    color: green;

}

.img p:hover{
    text-decoration: underline;
    cursor: pointer;
    font-weight: 500;
}